{% extends "navbar_user.html" %}
{% load static from staticfiles %}
{% block content %}

<div class="mt-4">
    <div style="display: flex; flex-direction: row; text-align: center;">
        <h4 style="text-align: center;">Pesanan</h4>
        <div class="m-5">
            <button id ="comments_1" style="background-color: white;" class= "btn btn-lg-2 mt-2" 
                type="submit">Diproses</button>
            <button id ="comments_2" style="background-color:white;" class= "btn btn-lg-2 mt-2" 
                type="submit">Ditolak</button>
            <button id ="comments_3" style="background-color:white;" class= "btn btn-lg-2 mt-2" 
                type="submit">Selesai</button>
            <button id ="comments_4" style="background-color:white;" class= "btn btn-lg-2 mt-2" 
                type="submit">Menunggu Verifikasi</button>
        </div>
    </div>
    <div id="comments" class="kotak-status mt-5" style="width: 85%; margin-left: 7vw; margin-right: 10vw; margin-bottom: 20vw;" ></div>

    
</div>
<script src="{% static 'Status.js' %}"></script>
{% endblock %}