{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 " src="{% static 'homepage.jpg' %}" alt="First slide">
            <div class="carousel-caption mr-auto">
                <p class="h1">We offer you <br> The Best Laundry Service</p>
                <p class="h5">Save time,enjoy your time</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'photo4.jpg' %}" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'photo3.jpg' %}" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
  </div>

  <div id="about" class="table-responsive">
    <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">About Us</th>
                <th scope="col">Login</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Our Laundry Service is a convenient and affordable 
                        of sending out your loundry to be done by proffesional.
                        We take care of your laundry and dry cleaning with a push of a button from your phone or through our website.
                        We strive to make cleaning your clothes a seamless experience and we will cater to your schedule.
                        Come straight to your door to pick up and deliver your laundry at affordable price.
                <td>
                  <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                      {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                      <small class="text-muted">Don't have an account? <a href="{% url 'user_laundry:register' %}">Sign Up Now</a></small>
                    </div>
                    <div class="border-top pt-3">
                        <button id = "but-login" class="button" type="submit" style="margin-left: 250px;">Submit</button>
                    </div>
                  </form>
                </td>
                <td>
                  <p>Banyaknya Pelanggan yang sudah mendaftar :</p>
                </td>
                </th>
              </tr>
            </tbody>
    </table>
    </div>
  </div>
{% endblock %}
