{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-user" style="padding: .7rem 1rem;">
        <a class="navbar-brand brand" href=""><b><i>MyLaundry</i></b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse topnav"  id="navbarResponsive">
                <ul class="navbar-nav mr-auto w-100 d-flex justify-content-end" style="letter-spacing: 2px;">
                    {% if navbar == True %}
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Pemesanan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Testimoni</a>
                    </li>
                    <li class="nav-item">
                        <a id = "click-logout" class="nav-link active" href="{% url 'user_laundry:homepage' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="#about" class="slide-section">About Us</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
                   
    </nav>