{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-groupregist">
                <legend class="border-bottom mb-4">Let's Join Now!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-groupregist">
                <button id = "reg" class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'user_laundry:homepage' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock %}
