{% extends "base.html" %}
{% load static %}
{% block content %}
        <div class="Regist">
            <h2>Hi {{name}} !</h2>
            <h3>
                Selamat! Anda telah berhasil melakukan registrasi!
                Selanjutnya anda bisa melakukan pemesanan.
            </h3>
        </div>
{% endblock %}
