.admin-hlmn{
    background-color:aquamarine; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
.kotak-pendapatan{
    width: 20vw; 
    min-height: 6vw; 
    border-block-color: black; 
    border-width: 4px; 
    border-style: solid
}

.bagian-status{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
}

.kotak-status{
    width: 40vw;
    height: 30vw;
    border-block-color: black; 
    border-width: 4px; 
    border-style: solid;
    overflow: auto;
    /* text-align: center; */
}
.kotak-status::-webkit-scrollbar { width: 0 !important }

.status{
    width: 35vw;
    height: 21vw;
    border-block-color: black; 
    border-width: 4px; 
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;;
    overflow: auto;
}
.laundry-list{
    width: 24vw;
    min-height: 10vw;
    max-height: 15vw;
    border-block-color: black; 
    border-width: 4px; 
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;;
    overflow: auto;
}
.laundry{
    width: 22vw;
    height: 6vw;
    border-block-color: black; 
    border-width: 4px; 
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;;
    overflow: auto;
}

.status-complete{
    width: 26vw;
    height: 19vw;
    border-block-color: black; 
    border-width: 4px; 
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;;
    overflow: auto;

}
@media only screen and (max-width: 700px) {
    
}