.navbar-user{
    /* background-color: #B2C6EF; */
    background-color: #D7E0F9;
}
.brand{
    font-size: 2vw;
    color:black;
}
.topnav a:hover {
    background-color: #E9ECFF;
    border-radius: 5px;
  }