.kotak{
    height: 35vh;
    width: 30vh;
    background-color: #E9ECFF;
    border-radius: 7px;
}
.kotak-semua{
    display: flex;
    flex-direction: column;
}
.bungkus-semua-form{
    display: flex;
    justify-content: center;
}
.bagian-form1{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* flex-wrap: wrap; */
}
.bagian-atas{
    display: flex;
    justify-content: center;

}
button{
    border-radius: 5px;
    /* width: 100vh; */
    height: 8vh;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 8px;
    width: 218px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    }

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
