body{
    /**background-color: rgb(196, 204, 228) !important;**/
    background-color: rgb(196, 204, 228) !important;
    width: 100%;
}

.navbar{
    background:#D7E0F9;
    width: 100%;
    height: 70px;
  }
.navbar a{
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    padding: 10px;
}
.topnav a:hover {
    background-color: #E9ECFF;
    border-radius: 2px;
}
.Regist{
    justify-content: center;
    padding: 230px;
    text-align: center;
}

.carousel-inner .carousel-item .carousel-caption{
    position: absolute;
    float: left;
    width: 125%;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 65vw;
    top: 30%;
    color: #173D68;    
}


.containerBawah form{
    font-size: 25px;
    color: #000000;
    margin-top: 150px;
    text-align: 50px;
}

.containerBawah .messages{
    font-size: 30px;
}

.Regist h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans';
    font-weight: bold;
    font-style: italic;
    color: #173D68;
}
.Regist h3{
    text-align: center;
}

thead{
    font-size: 45px;
    font-family: 'Lucida Sans';
    font-style: italic;
    color: #173D68;
}
tbody th{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: normal;
}
.form-groupregist{
    width: 30%;
}
