{% extends "navbar_user.html" %}
{% load static from staticfiles %}
{% block content %}
{% load crispy_forms_tags %}
<div class="modal fade" tabindex="-1" id="myModal" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 id="modalTitle" class="modal-title">Order Success</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id= "fill_modal">Your Order is On Process</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
</div>

<h1 class ="text-center" >Order</h1>
<div class = "d-flex flex-row-reverse">
    <div class="mr-3">
        <h4>Total Pengeluaran</h4>
        <h4 id = "pengeluaran">Rp</h4>
    </div>
</div>
<form method = "post" action = "{% url 'order:order' %}" id = order-form>
{% csrf_token %}
<div class = "d-flex flex-wrap justify-content-around mt-4 mb-4">
        <div>
            <h2 class="text-center">Masukkan Pesanan Anda :</h2>
            <div>
                {{form|crispy}}
                <div class="d-flex justify-content-center">
                    <button id = "kalkulasi" class="btn btn-primary" type="button">Kalkulasi</button>
                </div>
            </div>
        </div>
        <div id= "hasil">
        </div>
</div>
</form>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script src="{% static 'Order.js' %}"></script>
{% endblock %}
