{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = 'stylesheet' href = "{% static 'laundryadmin.css' %}">
    <link rel = 'stylesheet' href = "{% static 'navbar.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script  src = "{% static 'laundryadmin.js' %}"></script>
    <title>Laundry Admin</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-user">
        <a class="navbar-brand brand" href="#"><b><i>MyLaundry</i></b></a>
    </nav>
    <div class = "admin-hlmn" style="padding-top: 100px; padding-bottom: 100px;">
        <div class = "kotak-pendapatan ml-4">
            <p>Gross Income :</p>
            <p id = "income" >Rp</p>
        </div>
        <div class="bagian-status mt-4">
            <div style="display: flex; flex-direction: column;">
                <h4 style="text-align: center;">Pesanan</h4>
                <select id ="select_filter" class="form-control">
                    <option value = "Verifikasi">Menunggu Verifikasi</option>
                    <option value = "Diproses">Pesanan Diproses</option>
                    <option value = "Selesai">Pesanan Selesai</option>
                    <option value = "Ditolak">Pesanan Ditolak</option>
                </select>
                <div id=kotak class="kotak-status mt-2">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
